/bin
/obj
/.vs
xmrengine/XMREngine/Compiler/makexmrengtestilslapi.inc
xmrengine/XMREngine/Compiler/xmrengcomp.zip
xmrengine/XMREngine/Compiler/xmrengtest.zip
xmrengine/XMREngine/Compiler/*.cs
xmrengine/XMREngine/Engine/*.cs
*~
*.dll
*.dll.mdb
*.exe
*.exe.mdb
*.o
*.xmrasm
*.xmrbin
*.xmrobj
*.xmrsrc
xmrengine/XMREngine/Compiler/*.ckr
xmrengine/XMREngine/Compiler/*.out
xmrengine/XMREngine/Compiler/*.ser
