*~
*.csproj*
*.dll
*.dll.build
*.dll.mdb
*.exe
*.exe.build
*.exe.mdb
/bin
/obj
/.vs
Tester/*.ckr
Tester/*.out
Tester/*.ser
Tester/*.xmrasm
Tester/*.xmrbin
Tester/*.xmrobj
Tester/*.xmrsrc
Tester/makexmrengtestilslapi.inc
Tester/osbin
Tester/xmrengtestilslapi.cs
Tester/xmrengtestver*.cs
Tester/xmrengtest.zip
