*~
*.dll
*.dll.mdb
*.exe
*.exe.mdb
/bin
/obj
/.vs
Tester/*.ckr
Tester/*.o
Tester/*.out
Tester/*.ser
Tester/*.xmrasm
Tester/*.xmrbin
Tester/*.xmrobj
Tester/*.xmrsrc
Tester/makexmrengtestilslapi.inc
Tester/xmrengtest.cs
Tester/xmrengtest.zip
